{% set input_classes =
    html_classes(
        'ids-input ids-input--checkbox ids-input--medium',
        {
            'ids-input--disabled': disabled,
            'ids-input--error': error,
            'ids-input--required': required,
            'ids-input--indeterminate': indeterminate
        },
        attributes.render('class') ?? ''
    )
%}

<div class="ids-three-state-checkbox">
    <input
        class="{{ input_classes }}"
        type="checkbox"
        {{
            attributes.defaults({
                disabled,
                required
            })
        }}
    />
</div>
