{% extends '@IbexaDesignSystemTwig/themes/standard/design_system/partials/base_choice_input.html.twig' %}

{% set class = html_classes('ids-radio-button-field', attributes.render('class') ?? '') %}

{% block content %}
    <div class="ids-radio-button">
        <input
            class="{{ input_classes }}"
            {{
                attributes.defaults({
                    disabled,
                    name,
                    required,
                    type,
                    value,
                })
            }}
        />
    </div>
{% endblock content %}
