{% set input_classes = html_classes(
    'ids-input ids-input--checkbox ids-input--medium',
    {
        'ids-input--disabled': disabled,
        'ids-input--error': error,
        'ids-input--required': required
    },
    attributes.render('class') ?? ''
) %}

{{dump()}}

<div class="ids-checkbox ids-checkbox--three-state">
    <input
        class="{{ input_classes }}"
        type="checkbox"
        {{
            attributes.defaults({
                disabled,
                required
            })
        }}
    />
</div>
