{% set initially_expanded = initially_expanded|default(false) %}

{% set classes =
    html_classes(
        'ids-accordion',
        {
            'ids-accordion--is-expanded': initially_expanded
        }
    )
%}

<div class="{{ classes }}">
    <div class="ids-accordion__header">
        <div class="ids-accordion__header-content">
            {% block header %}
                {{ header }}
            {% endblock %}
        </div>
        {% include ids_get('expander') with {
            has_icon: true,
            is_expanded: initially_expanded,
            collapse_label: 'ibexa.expander.label.collapse'|trans|desc('Hide'),
            expand_label: 'ibexa.expander.label.expand'|trans|desc('Show')
        } only %}
    </div>
    <div class="ids-accordion__content">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</div>

{{ encore_entry_script_tags('ibexa-design-system-accordion-js', null, 'ibexa') }}
