{% trans_default_domain 'ibexa_design_system_twig' %}

{% set classes =
    html_classes(
        'ids-accordion',
        {
            'ids-accordion--is-expanded': initially_expanded
        },
        attributes.render('class') ?? ''
    )
%}

<div class="{{ classes }}">
    <div class="ids-accordion__header">
        <div class="ids-accordion__header-content">
            {% block header %}

            {% endblock header %}
        </div>
        <twig:ibexa:expander
            type="caret"
            :hasIcon="true"
            :isExpanded="initially_expanded"
            :collapseLabel="'ibexa.expander.label.collapse'|trans|desc('Hide')"
            :expandLabel="'ibexa.expander.label.expand'|trans|desc('Show')"
        />
    </div>
    <div class="ids-accordion__content">
        {% block content %}

        {% endblock content %}
    </div>
</div>

{{ encore_entry_script_tags('ibexa-design-system-accordion-js', null, 'ibexa') }}
