{% set classes =
    html_classes(
        'ids-accordion',
        {
            'ids-accordion--is-expanded': initially_expanded
        },
        attributes.render('class') ?? ''
    )
%}

<div class="{{ classes }}">
    <div class="ids-accordion__header">
        <div class="ids-accordion__header-content">
            {% block header %}

            {% endblock %}
        </div>
        <twig:ibexa:Expander
            type="caret"
            :has_icon="true"
            :is_expanded="initially_expanded"
            :collapse_label="'ibexa.expander.label.collapse'|trans|desc('Hide')"
            :expand_label="'ibexa.expander.label.expand'|trans|desc('Show')"
        />
    </div>
    <div class="ids-accordion__content">
        {% block content %}

        {% endblock %}
    </div>
</div>

{{ encore_entry_script_tags('ibexa-design-system-accordion-js', null, 'ibexa') }}
