{% set button_classes =
    html_cva(
        base: html_classes(
            'ids-btn',
            {
                'ids-btn--disabled': disabled
            }
        ),
        variants: {
            type: {
                primary: 'ids-btn--primary',
                secondary: 'ids-btn--secondary',
                tertiary: 'ids-btn--tertiary',
                'secondary-alt': 'ids-btn--secondary-alt',
                'tertiary-alt': 'ids-btn--tertiary-alt'
            },
            size: {
                medium: 'ids-btn--medium',
                small: 'ids-btn--small'
            }
        }
    )
%}

<button
    class="{{
        button_classes.apply(
            {
                type,
                size
            },
            attributes.render('class')
        )
    }}"
    {{
        attributes.defaults({
            type: 'button',
            disabled
        })
    }}
>
    {% block button_inner %}
        {% block icon_outer %}
            {% if icon %}
                <div class="ids-btn__icon">
                    {% block icon_inner %}
                        <twig:ibexa:icon name="{{ icon }}" size="{{ icon_size }}" />
                    {% endblock icon_inner %}
                </div>
            {% endif %}
        {% endblock icon_outer %}
        <div class="ids-btn__label">
            {% block content %}

            {% endblock content %}
        </div>
    {% endblock button_inner %}
</button>
