{% import ids_get('macros/html') as html %}

{% set ICON_SIZE_MAPPING = {
    medium: 'small',
    small: 'tiny-small'
} %}

{% set type = type|default('primary') %}
{% set size = size|default('medium') %}
{% set disabled = disabled|default(false) %}
{% set icon = icon|default(null) %}
{% set attr = attr|default({}) %}
{% set classes = attr.class|default('') %}

{% set has_label = block('label')|trim is not empty %}
{% set is_icon_only = icon is not null and not has_label %}

{% set button_classes =
    html_cva(
        base: 'ids-btn',
        variants: {
            type: {
                primary: 'ids-btn--primary',
                secondary: 'ids-btn--secondary',
                tertiary: 'ids-btn--tertiary',
                'secondary-alt': 'ids-btn--secondary-alt',
                'tertiary-alt': 'ids-btn--tertiary-alt'
            },
            size: {
                medium: 'ids-btn--medium',
                small: 'ids-btn--small'
            },
            disabled: {
                1: 'ids-btn--disabled'
            },
            is_icon_only: {
                1: 'ids-btn--icon-only'
            }
        }
    )
%}

{% set attr =
    attr|merge({
        class: button_classes.apply(
            {
                type,
                size,
                disabled: disabled|number_format,
                is_icon_only: is_icon_only|number_format
            },
            classes
        ),
        disabled,
        type: 'button'
    })
%}

<button {{ html.attributes(attr) }}>
    {% block content %}
        {% if icon %}
            <div class="ids-btn__icon">
                {% block icon %}
                    {{
                        include(
                            ids_get('icon'),
                            {
                                name: icon,
                                size: ICON_SIZE_MAPPING[size]|default('small')
                            },
                            with_context: false
                        )
                    }}
                {% endblock %}
            </div>
        {% endif %}
        {% if has_label %}
            <div class="ids-btn__label">
                {% block label %}
                    {{ label|raw }}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}
</button>
