{% import ids_get('macros/html') as html %}

{% set type = type|default('primary') %}
{% set size = size|default('large') %}
{% set disabled = disabled|default(false) %}
{% set attr = attr|default({}) %}
{% set classes = attr.class|default('') %}

{# prettier-ignore-start #}
{% set button_classes =
    html_cva(
        base: 'ids-btn',
        variants: {
            type: {
                primary: 'ids-btn--primary',
                secondary: 'ids-btn--secondary',
                tertiary: 'ids-btn--tertiary',
                'black-secondary': 'ids-btn--black-secondary',
                'black-tertiary': 'ids-btn--black-tertiary'
            },
            size: {
                large: 'ids-btn--large',
                small: 'ids-btn--small',
                'extra-small': 'ids-btn--extra-small'
            },
            disabled: {
                'true': 'ids-btn--disabled'
            }
        }
    )
%}
{# prettier-ignore-end #}

{% set attr =
    attr|merge({
        class: button_classes.apply(
            {
                type,
                size,
                disabled
            },
            classes
        ),
        disabled,
        type: 'button'
    })
%}

<button {{ html.attributes(attr) }}>
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</button>
