{% import ids_get('design-system/macros/html') as html %}

{% set size = size|default('medium') %}
{% set type = type|default('default') %}
{% set title = title|default('') %}
{% set attr = attr|default({}) %}

{% set ICONS_TYPE_MAP = {
    default: 'info-circle',
    error: 'alert-error',
    info: 'message-bubble-info',
    success: 'check-circle',
    warning: 'alert-warning',
} %}
{% set ICONS_SIZE_MAP = {
    medium: 'small',
    small: 'tiny-small',
} %}

{% set classes =
    ids_create_css_class(
        {
            'ids-helper-text': true,
            ('ids-helper-text--' ~ size): true,
            ('ids-helper-text--' ~ type): true,
        },
        attr
    )
%}
{% set attr =
    attr|merge({
        class: classes,
        title: title,
    })
%}

<div {{ html.attributes(attr) }}>
    {% block icon_wrapper %}
        <div class="ids-helper-text__icon-wrapper">
            {% block icon_content %}
                {{ include(ids_get('design-system/components/icon') , {
                    attr: {
                        class: 'ids-icon ids-helper-text__icon',
                    },
                    name: ICONS_TYPE_MAP[type],
                    size: ICONS_SIZE_MAP[size],
                }) }}
            {% endblock %}
        </div>
    {% endblock %}
    {% block content_wrapper %}
        <div class="ids-helper-text__content-wrapper">
            {{ content|raw }}
        </div>
    {% endblock %}
</div>
