{% extends '@IbexaDesignSystemTwig/themes/standard/design_system/components/button.html.twig' %}

{% block button_inner %}
    <div class="ids-btn__icon">
        {% block icon_inner %}
            <twig:ibexa:Icon name="{{ icon }}" size="{{ icon_size }}" />
        {% endblock %}
    </div>
{% endblock %}
