{% import ids_get('design-system/macros/html') as html %}

{% set error = error|default(false) %}
{% set required = required|default(false) %}
{% set title = title|default('') %}
{% set attr = attr|default({}) %}

{% set classes =
    ids_create_css_class(
        {
            'ids-label': true,
            'ids-label--error': error,
            'ids-label--required': required,
        },
        attr
    )
%}
{% set attr =
    attr|merge({
        class: classes,
        'html-for': html_for,
        title: title,
    })
%}

<label {{ html.attributes(attr) }}>
    {{ content|raw }}
</label>
